@media (max-width: 460px) {
  .hot-topic-content h2 {
    font-size: 16px;
  }

  .main-container-right article {
    display: block;
  }

  .main-container-right article img {
    display: none;
  }
 
}

@media (max-width: 500px) {
  .main-container-right article {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-container-right article h4 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
  }

  .main-container-right article img {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .main-container-right article div {
    grid-row: 1/3;
    grid-column: 2/3;
  }
 
}

@media (min-width: 768px) {
  .banner-sub-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-bottom-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cardLatestNews {
    width: calc(50% - 30px);
    margin: 10px 15px;
  }
}

@media (min-width: 800px) {
  /* nav */
  .ham-btn,
  .times-btn {
    display: none !important;
  }

  .navigation-container {
    display: flex;
    background: #252525;
    align-items: center;
    flex-wrap: wrap;
  }

  .top-head {
    flex: 0 0 15%;
  }

  .nav-bar {
    flex: 1 0 auto;
    height: 100%;
    background: transparent;
  }

  .nav-bar nav ul {
    display: flex;
    justify-content: flex-end;
  }
  .nav-bar nav ul li {
    padding-right: 30px;
  }

  .nav-bar nav ul li:hover {
    background: none;
  }

  /* social icons */
  .social-icons {
    flex: 0 1 30%;
    display: block;
    margin: 0 auto;
  }

  .social-icons .fab {
    color: #fff;
    font-size: 2rem;
  }
  .social-icons ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .social-icons ul li {
    padding: 20px;
  }

  .footer-container {
    display: flex;
  }

  .footer-right,
  .footer-left {
    flex: 1;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cardLatestNews {
    width: calc(25% - 20px);
    margin: 10px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
  }
}

@media (min-width: 1080px) {
  .banner {
    grid-template-columns: 1fr 2fr;
  }
}
